body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  background-color: #262626;
  font-family: sans-serif;
  font-size: 40px;
  border: 4px solid #262626;
  padding: 40px 80px;
  position: relative;

}
a:before {
  content: 'Hover Me';
  position: absolute;
  top: 0;
  Left: 0;
  height: 100%;
  width:100%;
  background-color:rgb(146, 59, 186);
  color:#262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
a:after {
  content: 'Hover Me';
  position: absolute;
  top: 0;
  Left: 0;
  height: 100%;
  width:100%;
  background-color:rgb(146, 59, 186);
  color:#262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%)
}
a:hover:before {
  transform: translate(100%,-100%)

}
a:hover:after {
  transform: translate(0,-0%)

}
